Source: ros-melodic-laser-tilt-controller-filter
Section: misc
Priority: extra
Maintainer: David Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-filters, ros-melodic-pluginlib, ros-melodic-pr2-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Homepage: http://ros.org/wiki/laser_tilt_controller_filter
Standards-Version: 3.9.2

Package: ros-melodic-laser-tilt-controller-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-filters, ros-melodic-pluginlib, ros-melodic-pr2-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: laser_tilt_controller_filter
